.location {
  width: Fixed (1, 440px) px;
  height: Hug (64px) px;
  top: 124px;
  padding: 16px 128px;
  background-color: #f6f6f6;
  text-align: left;

  a {
    font-size: 14px;
    font-weight: 500;
    line-height: 24.5px;
    color: #0e1422;
    text-decoration: none;
  }
}
